body {
  margin: 0;
  padding: 0;
}
.gnb {
  border: 11px #f00 solid;
}
.gnb li {
  border: 1px #f00 solid;
}
.gnb li:first-child {
  border-color: blue;
}
.gnb a {
  text-decoration: none;
}
.gnb a:hover {
  color: red;
}
