// out: teagwang2.css, sourcemap: false, compress: true
@import url('https://fonts.googleapis.com/css?family=Oswald');
// reset
body,html,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,p{font-family: 'Oswald', sans-serif; margin:0; padding:0;}
*{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none;}


header{
  height:80px;
  position: relative;
  z-index:100;
}
header>div{
  min-height:80px;
  background-color: #fff;
  overflow: hidden;
}
  .gnb{
    background-color: #000;
    height:80px;
    padding:0 20px;
    .logo{
      float:left;
      margin:20px 0 0 10px;
    }
    .site_option{
      float: right;
      a{float:left; margin-top:20px;}
      .house{
        display: block;
        width: 40px;
        height: 35px;
        font-size:0;
        background-image: url(image/home-ico.png);
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.5s;
        &:hover{background-color: #2E3233}

      }
      .eng{
        display: block;
        text-align: center;
        text-transform: uppercase;
        line-height:35px;
        width: 40px;
        height: 35px;
        background-color: #288576;
        color:#fff;
        transition: 0.5s;
        &:hover{background-color: #288576;}
      }
      .sitemap{
        width: 40px;
        height: 35px;
        span{
          width:32px;
          height:3px;
        background-color: #fff;}
      }
    }
    .menu{
      width:1100px;
      height:80px;
      margin:0 auto;
      >ul>li{
        float:left;
        width:220px;
        text-align: center;
        text-transform: uppercase;
        position:relative;
        >a{
          color:#fff;
          white-space: nowrap;
          line-height:80px;
          transition: 1s;
        span{
          position: absolute;
          top:77px;
          width:0;
          height:3px;
          background-color: #288576;
          position:absolute;
          z-index:101;
          bottom:0;
          left:0;
          transition:1s;
        }
        }
        &:hover{
          >a{color:#288576;
          >span{
            width:220px;
            height:3px;
            background-color: #288576;
            }
          }
        }
        .bottom3{border-left:0;}
        .bottom2{border-right:1px #aaa solid;}
        .bottom4{border-right:1px #aaa solid;}
      }
      >ul>li>div{
        margin-top: 30px;
        margin-bottom:30px;
        border-left:1px #aaa solid;
        display: none;
        >ul>li{
          position: relative;
          line-height: 45px;
          transition:0.5s;
          a{color:#464B4C;}
          span{
            width:0;
            height:3px;
            background-color:#288576;
            position:absolute;
            bottom:0;
            left:0;
            transition: 1s;
          }
          &:hover{
            a{
              color:#288576;
              font-weight: 600;
            }
            span{
              width:220px;
              height:3px;
              background-color:#288576;
            }
          }
        }
      }

    }

    }
  .container{

  }
