// out: styles.css, sourcemap: false, compress: true

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@color-white:#FFF;
@color-black:#000;
@color-font:#42353A;
@color-sub:#F8D0E6;
@color-main:#CAA9D9;
@color-master:#BF8CDB;
@color-line:@color-sub;

@layoutwidth:700px;
//F0FFBA
//reset
body,html,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,p{font-family: 'Amatic SC', 'Noto Sans KR',  cursive,sans-serif; margin:0; padding:0;}
ul,ol,li{list-style:none;}
img{border:0; vertical-align:top;}
input{vertical-align:middle;}
a{text-decoration: none; color:@color-font;}

//layout
#header{
  outline:1px #f00 solid;
  padding:20px 50px;
  height:80px;
  text-align:center;
  background-color: @color-master;
  h1{
    font-size:30px;
    font-weight:300;
    border-bottom:2px @color-sub solid;
    padding-bottom:5px;
    text-transform:uppercase;
    display:inline-block;
    a{
      color:@color-white;
      span{
        font-size:12px;
        display:block;}
      }
    }
    .blogMenu{font-size:0;
      li{font-size:14px;
        margin:10px 5px 0;
        display:inline-block;
        a{color:@color-white;
          &:hover{color:@color-sub}
        }
      }
    }
  }

  #container{width:990px; margin:20px auto;
    border:1px @color-main solid; border-radius:3px; padding:5px;
    position:relative; color:#9D9CA1; overflow:hidden;
    #content{
      width: @layoutwidth; float:left;
    }

    .entry{
      .titleWrap{
        margin-bottom:30px;
        h2 a{font-weight:300;
          border-bottom:1px @color-main solid;
          }}

          .tagTrail{border:1px @color-sub solid;
            border-radius:3px;
            margin:35px 0 0;
            padding:10px 20px;
            position:relative;
            .tagText{position:absolute;
              border-radius:3px 3px 0 0;
              left:0; top:-30px;
              height:25px;
              margin-left:20px;
              padding:0 15px;
              background-color:@color-sub;
              color:@color-white;}
              a{font-size:14px;
                font-weight:200;
                border:1px #9D9CA1 solid;
                color:#9D9CA1;
                padding:0 10px;
                border-radius:3px;}}

                .comment{margin-top:30px;
                  border:1px @color-sub solid;
                  border-radius:3px;
                  padding:5px;
                  h3{font-size:23px;
                    color:#9D9CA1;
                    margin:0 0 5px 10px;}
                    .commentList{
                      >ol>li{margin:20px 0 0 15px; min-height:60px;
                        border-bottom:1px @color-main solid; position:relative;}
                        >ol>li>ul>li{position:relative;
                          margin:15px 20px 10px 60px;
                          padding:10px 0;
                          min-height: 60px; border-top:1px @color-sub solid;
                          .image{border:2px @color-sub solid;}
                          p{margin-left:64px;}
                          } //p태그에 마진래프트를 주거나 overflow:hidden. 같은결과가 나옴.
                          .image{display:block;
                            width: 50px;
                            height: 50px;
                            border-radius:3px;
                            border:2px @color-main solid;
                            overflow:hidden;
                            float:left;
                            margin-right:10px;
                            img{width:100%;
                            }
                          }
                          .name{color:@color-font;
                            margin-right:5px;}
                            .date{font-size:18px;
                              a{font-size:13px;
                                color:@color-master;
                                }}
                                .control{position:absolute; right:10px; top:5px;
                                  span{border:1px #9D9CA1 solid;
                                    height:30px;
                                    font-size:14px;
                                    font-weight:200;
                                    padding:0 10px;
                                    border-radius:3px;
                                    color:#9D9CA1;
                                  }


                                }
                              }



                              .textWrap{
                                margin:10px 20px 0;
                                text-align:center;
                                border:1px @color-master solid;
                                border-radius:15px;

                                textarea{
                                  width:99%; height:163px;
                                  vertical-align:top;
                                  border:0 none;
                                  resize:none;
                                  background:transparent;
                                  //background:transparent또는 textarea를 감싸고 있는아이에 overflow:hidden을 줌. (textare가  textwrap보더를 가려서)

                                  }}
                                  input[type="submit"]{border:1px @color-master solid;
                                    border-radius:3px;
                                    color:@color-white;
                                    background-color:@color-master;
                                    position:absolute; right:350px;
                                    margin-top:15px;



                                  }
                                }
                                .paging{text-align:center;
                                  padding:20px 0;
                                  a{
                                    border:1px #f00 solid;
                                    }
                                  }

                                }
                                #sidebar{
                                  margin-left:@layoutwidth;
                                  border:1px #f00 solid;
                                  padding:0 10px;
                                  .blogImage img{
                                    width:200px;
                                    height:200px;
                                  }
                                }
                              }
